.button {
    padding: 8px 16px;

    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    font-weight: bold;

    color: var(--color-black);
    background-color: var(--color-primary);
    border-radius: 20px;
}
