.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-lg);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3,
    p {
        margin: 0;
    }
}

.card__media {
    aspect-ratio: 595px/490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
