h2 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h2);
    color: var(--color-secondary);
    font-weight: 300;

    margin-bottom: 100px;

    span {
        color: var(--color-white);
        font-weight: bold;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-lg);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    span {
        font-weight: bold;
        color: var(--color-white);
    }

    h3 {
        margin: 0;
        font-family: var(--font-secondary);
        font-size: var(--font-size-content);
        font-weight: 500;
        text-transform: uppercase;
    }

    p {
        font-family: var(--font-secondary);
        font-size: var(--font-size-p);
        font-weight: normal;
        color: var(--color-secondary);
        line-height: 150%;
        margin: 0;
    }

    .tag {
        font-size: var(--font-size-content);
        font-weight: 300;
        text-transform: uppercase;
    }
}

.card__media {
    aspect-ratio: 595px/490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 25px;
    }
}
