{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/grimpeur.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="laboratoires section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/01.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 01 - révision</h3>
                    <p>
                        Cet exercice consistait à pratiquer les bases en web et
                        <span>remémorer nos connaissances</span>
                        des sessions passées.
                    </p>
                    <p class="tag">html + css</p>
                    <a class="button" href="">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/02.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 02 - timtools</h3>
                    <p>
                        Les deux activités de ce laboratoire avaient pour objectif de se
                        <span>familiariser avec le stack TimTools.</span>
                    </p>
                    <p class="tag">scss</p>
                    <a class="button" href="">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/03.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 03 - Louis Lajoie</h3>
                    <p>
                        Le laboratoire a pour objectif de
                        <span>retravailler vos acquis antérieurs</span>
                        , en plus de continuer de se familiariser avec le stack TimTools.
                    </p>
                    <p class="tag">html + scss</p>
                    <a class="button" href="">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/04.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Le laboratoire a pour objectif
                        <span>d’introduire les concepts de base</span>
                        des classes en JavaScript et de revenir sur des notions d’interactivités
                    </p>
                    <p class="tag">scss + javascript</p>
                    <a class="button" href="">VOIR LE LABORATOIRE</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
